body{
    background-image: url("images/ta-building-front.jpg");
    background-size: cover;
    /* background-position: center; */
    font-family: 'Special Elite', cursive;
  }

  html{
      height: 100%;
  }

